body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.todo-btn-group {
  margin-bottom: 10px;
  width: 100%;
}

.todo-list-group {
  height: 330px;
  overflow: auto;
}

.overline {
  text-decoration: line-through !important;
}
